<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>

      <% @list_of_users.each do |a_thing| %>
        <tr>
          <td><%= a_thing.username %></td>
          <td><% if a_thing.private == false %>
          No
          <% else %>
          Yes
          <% end %>  
          </td>
          <td>Placeholder for Follow button</td>
          <td>
            <a href="/users/<%= a_thing.username %>">Show Details</a>
          </td>
        </tr>
      <% end %>

  </table>
